<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L-Tarefa</title>
</head>
<body>
    
    <div class="container">
        <h1>Lista de Tarefas</h1>
        <% taskLists.forEach( taskList => { %>
            <li class="list-group-item">
                <a href="/app/<%= taskList.id %>" class="">
                    <%= taskList.title %>
                </a>

                <form action="/app/<%= taskList.id %>/excluir" method="post">
                    <button type="submit" class="btn-delete">Excluir</button>
                </form>
            </li> 
        <% }); %>
        <a href="/app/nova-lista" class="btn">Nova Lista de Tarefa</a>
    </div> 
</body>
</html>