<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefa</title>
</head>
<body>
    <div class="container">
        <h1>Nova Lista de Tarefas</h1>
        <form action="/app/nova-lista" method="post">
            <div class="input-group">
                <input type="text" class="form-control" name="title" placeholder="Digite o título da lista...">
                <button type="submit" class="btn">Criar Lista</button>
            </div>
        </form>
        <a href="/app" class="btn">Voltar</a>
    </div>
</body>
</html>