<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
    <main>
        <form action="">
            <div class="container">
                <h2>Bem-vindo a L-Tarefa.</h2>
                <p>Organizar suas tarefas de forma eficiente e aumente sua produtividade!</p>
                <p>A L-Tarefa oferece uma maneira simples e intuitiva de gerenciar suas atividades diárias, seja no trabalho, nos estudos ou na vida pessoal. Crie listas personalizadas, adicione tarefas com facilidade, acompanhe o progresso e nunca mais esqueça uma tarefa importante!</p>
                <button class="btn-start">Comece a Gerenciar suas Tarefas</button>
            </div>
        </form>
    </main>
</body>
</html>